h1,h2,h3,p {
    color: #1d2b47;
}

h3 {
    font-size: 1.5em;
    text-align: center;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.subtitle {
    text-align: center;
}

.container>h2 {
    text-align: center;
}

.computerSelection, .playerSelection {
    display: flex;
    justify-content: space-evenly;
    margin: 3em 0;
}

.playersPicks {
    text-align: center;
}

.finalChoices {
    display: flex;
    justify-content: center;
}

.computersChoice, .playersChoice {
    border: 2px solid black;
    padding: 3em;
}

.playerSelection>div {
    transition: all .07s ease;
}

.playerSelection>div:hover {
    transform: scale(1.1);
    cursor: pointer;
}

h2 {
    text-align: center ;
}

.reset {
    text-align: center;
}

.resetScore {
    padding: 0.7em;
    font-size: 1em;
}

.resetScore:hover {
    cursor: pointer;
}

/* @media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        text-align: center;
    }
  } */